#action-pack {
    position: relative;
    width: 0;
    transition: width .5s;
    --action-pack-width: 300px;
}

#action-pack.tray-medium {
    --action-pack-width: 240px;
}

#action-pack.tray-small {
    --action-pack-width: 200px;
}

#action-pack.is-open {
    width: var(--action-pack-width);
}

#action-pack.always-on {
    transition: width 0s;
}

.action-pack__container {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: var(--action-pack-width);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    z-index: 1;
    padding: 10px;
    overflow: auto;
    transition: bottom 0.3s;
    --action-pack-icon: 36px;
    --die-icon-size: 24px;
}

.action-pack__container.icon-small {
    --action-pack-icon: 30px;
    --die-icon-size: 20px;
}

.action-pack__container.icon-large {
    --action-pack-icon: 42px;
    --die-icon-size: 28px;
}

#action-pack.tray-small .action-pack__container {
    --action-pack-icon: 30px;
}

#action-pack.tray-small .action-pack__container.icon-small {
    --action-pack-icon: 24px;
}

#action-pack.tray-small .action-pack__container.icon-large {
    --action-pack-icon: 36px;
}

#action-pack.tray-medium .action-pack__container {
    --action-pack-icon: 30px;
}

#action-pack.tray-medium .action-pack__container.icon-small {
    --action-pack-icon: 26px;
}

#action-pack.tray-medium .action-pack__container.icon-large {
    --action-pack-icon: 36px;
}

.is-current-combatant .action-pack__container {
    bottom: 50px;
}

.action-pack__container h1 {
    border: 0;
    font-family: "Modesto Condensed", "Palatino Linotype", serif;
    margin: 5px 0 0 0;
}

.action-pack__container h2 {
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.15);
    padding: 1px 6px;
    margin: 10px -5px 4px -5px;
    border-radius: 3px;
    font-family: "Modesto Condensed", "Palatino Linotype", serif;
    font-size: 18px;
}

.action-pack__container h3 {
    border: 0;
    font-size: 15px;
    margin: 5px 0 3px 0;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.7);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    gap: 10px;
}

.action-pack__actor + .action-pack__actor {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    margin-top: 15px;
    padding-top: 10px;
}

.action-pack__abilities {
    display: flex;
    gap: 5px;
    margin-top: 3px;
}

.action-pack__ability {
    flex: 1;
    padding: 3px 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    text-transform: capitalize;
    text-align: center;
}

.tray-small .action-pack__abilities {
    gap: 3px;
}

.tray-small .action-pack__ability {
    padding: 3px 3px;
}

.action-pack__actor .group-uses {
    flex: 0;
    align-self: flex-end;
    background: rgba(255, 255, 255, 0.8);
    color: black;
    padding: 3px 6px;
    border-radius: 5px;
}

.action-pack__actor .group-dots {
    display: flex;
    gap: 2px;
}

.action-pack__actor .group-dots .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(255,100,0,1);
}

.action-pack__actor .group-dots .dot.empty {
    background-color: rgba(255, 255, 255, 0.2);
}

.action-pack__items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.action-pack__item {
    margin-bottom: 3px;
}

.action-pack__item .item-name {
    align-items: center;
}

.action-pack__item .item-name h4 {
    margin: 0;
}

.action-pack__item .item-name .item-image {
    flex: 0 0 var(--action-pack-icon);
    height: var(--action-pack-icon);
    margin-right: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

.action-pack__item .item-name:hover .item-image {
    background-image: none !important;
}

.action-pack__item .item-name .item-image i {
    display: none;
    font-size: var(--die-icon-size);
    opacity: 0.5;
}

.action-pack__item .item-name:hover .item-image i {
    display: initial;
}

.action-pack__item .item-name .item-image:hover i {
    opacity: 1;
}

.action-pack__item .flag {
    flex: 0 0 20px;
    height: 20px;
    border-radius: 50%;
    line-height: 21px;
    text-align: center;
    font-weight: bold;
}

.tray-small .action-pack__item .flag {
    flex: 0 0 16px;
    height: 16px;
    font-size: 85%;
    line-height: 16px;
}

.action-pack__item .item-recharge {
    white-space: nowrap;
}

.action-pack__item .bonus, .action-pack__item .reaction {
    background: rgba(255, 255, 255, 0.8);
    color: black;
}

.action-pack__item .legendary {
    background: rgba(255, 241, 166, 0.8);
    color: black;
}

.action-pack__item .concentration, .action-pack__item .ritual {
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

.action-pack__item .unprepared {
    background: rgba(233, 47, 47, 0.5);
    color: white;
}

.action-pack__item .item-summary {
    display: none;
    padding: 3px 10px;
    margin-top: 4px 0 10px 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    font-size: 12px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.8);
}

.action-pack__item .item-summary a {
    color: black;
}

.action-pack__item .item-summary .item-properties .tag {
    display: inline-block;
    white-space: nowrap;
    background: rgba(255, 255, 255, 0.7);
    color: black;
    margin: 0 3px 3px 0;
    padding: 3px;
    line-height: 1;
    border-radius: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}


.action-pack__end-turn {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 0px;
    width: var(--action-pack-width);
    overflow: hidden;
    z-index: 2;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    line-height: 50px;
    font-size: 22px;
    transition: height 0.3s;
}

.is-current-combatant .action-pack__end-turn {
    height: 50px;
}

.action-pack__initiative {
    align-items: center;
    padding: 5px 9px;
    gap: 7px;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 12px 0;
    border: 1px solid black;
    border-radius: 3px;
    color: black;
    font-size: 14px;
    box-shadow: 0 0 0 1.7px white;
}

@keyframes init-jiggle {
    0% {
        transform: rotate(0);
    }
    3% {
        transform: rotate(10deg);
    }
    9% {
        transform: rotate(-10deg);
    }
    15% {
        transform: rotate(10deg);
    }
    21% {
        transform: rotate(-10deg);
    }
    25% {
        transform: rotate(0);
    }
}

.action-pack__initiative-icon {
    animation: infinite forwards 1.8s init-jiggle;
}

.action-pack__skill-container.is-open .action-pack__skills, .action-pack__skill-container.append .action-pack__skills {
    display: initial;
    /* max-height: 450px; */
}

.action-pack__skill-container.append {
    margin-top: 15px;
}

.action-pack__skill-header {
    display: block;
    padding: 1px 6px;
    margin: 6px -5px 0px -5px;
    font-family: "Modesto Condensed", "Palatino Linotype", serif;
    font-size: 18px;
}

.action-pack__skills {
    margin: 0 -3px 5px 0;
    display: none;
    /* max-height: 0;
    transition: max-height 0.5s;
    overflow: hidden; */
}

.action-pack__skill-container.append .action-pack__skill-header i {
    display: none;
}

.action-pack__skill-container .action-pack__skill-header i {
    transition: transform 0.5s;
    float: right;
}

.action-pack__skill-container.is-open .action-pack__skill-header i {
    transform: rotate(-180deg);
}

.action-pack__skill-row {
    padding: 3px 5px;
    gap: 5px;
    align-items: baseline;
}

.action-pack__skill-row i {
    font-size: 10px;
}

.action-pack__skill-row span {
    font-size: 13px;
}

.action-pack__skill-row.proficient span {
    font-weight: bold;
}

.action-pack__skill-row:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
}

.action-pack__skill-label {
    flex: 5;
}

.action-pack__skill-bonus {
    text-align: center;
}

.action-pack__skill-passive {
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
}

.action-pack__empty-tray {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-pack__empty-tray i {
    font-size: 8rem;
    opacity: 0.2;
}